<div class="container">
  <div class="user">
    <ul>
      <span class="pre">Username: </span>
      <span class="userInfo"><%= @user.username %></span>
    </ul>
    <ul>
    <span class="pre">Email: </span>
    <span class="userInfo"><%= @user.email %></span>
    </ul>
  </div>
</div>

<div class="container">
  <ul class="user-nav nav nav-pills nav-justified">
    <li id="offPillUser" class="active toggle"><a data-toggle="pill" href="#favorites">Favorites</a></li>
    <li class="toggle other"><a data-toggle="pill" href="#comments">Comments</a></li>
  </ul>

  <div class="search_forms well">
    <div class="tab-content">

      <div id="favorites" class="tab-pane fade in active">
        <div>
          <ol>
            <% @user.personalities.each do |personality| %>
              <li>
                <h4><%= link_to personality.title, personality %></h4>
              </li>
             <% end %>
           </ol>
        </div>
        </br>
      </div>

      <div id="comments" class="tab-pane fade">
        <div class="comments">
          <ul>
            <% @comments.each do |comment| %>
              <li>
                <h4><%= link_to comment.personality.title, '/personalities/'+comment.personality_id.to_s %></h4>
              <p>"<%= comment.body %>"</p>
            </li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<br/>
